@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Inconsolata);

body {
    font-family: "PT Sans";
    overflow: hidden;
}

body.loading {
    cursor: wait;
}

div.boxes {
    position: absolute;
    left: 1300px;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    padding-top: 10px;
}

div.box {
    border: 1px solid black;
    box-shadow: 3px 3px 2px #777;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

div.box div.title {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    padding: 5px;
    background: linear-gradient(#f0f9ff, #a1dbff);
    border-bottom: 1px solid black;
    cursor: pointer;
    -webkit-user-select: none;
    display: flex;
    flex-direction: row;
}

div.box div.title div.title-text {
    flex-grow: 1;
}

div.box div.title div.info {
    font-weight: normal;
}

div.box.collapsed div.title {
    background: linear-gradient(#efefef, #bfbfbf);
    color: #4f4f4f;
}

div.box div.box-body {
    display: flex;
}

div.box.collapsed div.box-body {
    display: none;
}

div.box div.labels {
    display: flex;
    flex-direction: column;
}

div.box div.labels label {
    vertical-align: middle;
    margin: 0 5px;
    padding: 2px 20px 2px 5px;
    height: 1.3em;
}

div.box div.inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.box div.inputs div.row {
    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
}

div.box div.inputs div.row span.filename {
    width: 0;
    flex-basis: 0;
    flex-grow: 0;
}

div.box div.row {
    flex-grow: 1;
    height: 1.3em;
    margin: 0;
    padding: 2px 20px 2px 5px;
    display: flex;
}

div.box div.row.selectable {
    cursor: pointer;
    border-bottom: 1px solid #aaa;
}

div.box div.row.selectable:hover:not(.selected) {
    background: linear-gradient(#cfcfff, #bfbfef);
}

div.box div.row.selected {
    background: linear-gradient(#ffffcf, #efef9f);
    font-weight: bold;
}

div.box div.row.selectable .delete {
    display: none;
}

div.box div.row.selectable.selected .delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

div.box div.row input[type=text] {
    font-family: "PT Sans", sans-serif;
    padding: 2px 5px;
    border: 1px solid #aaa;
}

div.box div.row input.color {
    width: 70px;
    margin: 0 0 0 10px;
}

div.box div.row div.color-selector {
    position: absolute;
    border: 1px solid black;
    background-color: white;
    font-size: 0;
    padding: 1px 3px;
    box-shadow: 3px 3px 2px #777;
    right: 8px;
    white-space: nowrap;
}

div.box div.row div.color-selector div.color-selection {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 3px;
    cursor: pointer;
}

div.box div.row input:not(.color) {
    flex-grow: 1;
}

div.box div.row div.infocell {
    flex-grow: 1;
}

div.box div.yaml {
    padding: 1px 5px;
    font-family: "Inconsolata", "Courier New", monospace;
    white-space: pre;
    overflow-y: scroll;
    max-height: 10em;
}

div.editbox {
    display: none;
    padding: 10px 5px;
    border-bottom: 1px solid #aaa;
    background: linear-gradient(#ffffef, #f6f6df);
}

div.video-column {
    display: flex;
    flex-direction: column;
}

div.below-video {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.links a {
    color: black;
    margin-left: 3em;
}

div.links a:hover {
    color: #001f3f;
}

div.box-container {
    display: flex;
    flex-direction: row;
}

div.box-container div.box {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 3px;
    margin-right: 3px;
}

div.box-container div.box:first-child {
    margin-left: 0;
}

div.box-container div.box:last-child {
    margin-right: 0;
}

.video-object, .dummy-video-object {
    display: none;
}

.video-object.video-object-active {
    display: block;
    filter: brightness(1.7) contrast(1.3);
}

.video-object.zooming {
    cursor: crosshair;
}

div#zoom-box {
    display: none;
    position: absolute;
    z-index: 999;
    border: 2px solid rgba(255, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.05);
}

div#zoom-box.active {
    display: block;
    cursor: crosshair;
}

div#zoom-box.zoomed {
    display: block;
    cursor: move;
}

div#zoom-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: crosshair;
}

div#zoom-overlay.active {
    display: block;
}

div#scoreboard-container {
    font-size: 150%;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    color: white;
    font-weight: bold;
}

div#scoreboard-container div {
    display: inline-block;
    border: 1px solid #777;
    margin: 0 3px;
}

div#abs-timer-box, div#timer-box {
    width: 6em;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
}

div#away-score-box {
    width: 2em;
    text-align: right;
    padding: 0 3px;
}

div#home-score-box {
    width: 2em;
    text-align: right;
    padding: 0 3px;
}

div.buttons div.button-section {
    text-align: center;
    margin: 2px 0;
}

div.buttons div.button-section span {
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 2px;
    border: 1px outset #999;
    background: linear-gradient(#ddd, #bbb);
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
