@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|Inconsolata);

body {
    font-family: "PT Sans";
    overflow: hidden;
}

div.boxes {
    position: absolute;
    left: 1300px;
    right: 10px;
    top: 10px;
    height: 100%;
}

div.box {
    border: 1px solid black;
    box-shadow: 3px 3px 2px #777;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

div.box div.title {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
    padding: 5px;
    background: linear-gradient(#f0f9ff, #a1dbff);
    border-bottom: 1px solid black;
}

div.box div.box-body {
    display: flex;
}

div.box div.labels {
    display: flex;
    flex-direction: column;
}

div.box div.labels label {
    vertical-align: middle;
    margin: 0 5px;
    padding: 2px 20px 2px 5px;
    height: 1.3em;
}

div.box div.inputs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

div.box div.row {
    flex-grow: 1;
    height: 1.3em;
    margin: 0;
    padding: 2px 20px 2px 5px;
    display: flex;
}

div.box div.row.selectable {
    cursor: pointer;
    border-bottom: 1px solid #aaa;
}

div.box div.row.selectable:hover:not(.selected) {
    background: linear-gradient(#cfcfff, #bfbfef);
}

div.box div.row.selected {
    background: linear-gradient(#ffffcf, #efef9f);
    font-weight: bold;
}

div.box div.row input[type=text] {
    font-family: "PT Sans", sans-serif;
    padding: 2px 5px;
    border: 1px solid #aaa;
}

div.box div.row input.color {
    width: 70px;
    margin: 0 0 0 10px;
}

div.box div.row input:not(.color) {
    flex-grow: 1;
}

div.box div.row div.infocell {
    flex-grow: 1;
}

div.box div.yaml {
    padding: 1px 5px;
    font-family: "Inconsolata", "Courier New", monospace;
    white-space: pre;
    overflow-y: scroll;
}

div.editbox {
    display: none;
    padding: 10px 5px;
    border-bottom: 1px solid #aaa;
    background: linear-gradient(#ffffef, #f6f6df);
}

